*/version.txt
*.pyc
*.swp
build/
dist/
.coverage
.ipynb_checkpoints
*.iml
groupama/data/base_pno.*
.DS_Store
.idea/
/Users/felipeinostroza/code/covid-vaccines/covidvaccines/data/country_vaccinations.csv
country_vaccinations.csv
